@import 'https://fonts.googleapis.com/css?family=Cinzel';

.headline {
  text-align: center;
  margin: auto;
}

.headline span {
  font-size: 4rem;
}
.headline h2 {
  margin-right: 10vw;
  margin-top: -2vh;
}
nav {
    height: 90px;
}
nav img {
  margin-top:10px;
  width: 80px;
  height: 80px;
}
.logo {
  height: 5rem;
  width: 5rem;
}
.textStuff {
  font-size: 6rem;
  font-family: 'Cinzel', serif;
  margin-right: 20vw;
}
