@import "https://fonts.googleapis.com/css?family=Cinzel";


.headline {
  text-align: center;
  margin: auto;
}
.headline h1 {
  font-size: 8rem;
}
.headline span {
  font-size: 4rem;
}
.headline h2 {
  margin-right: 10vw;
  margin-top: -2vh;
}
nav {
    height: 90px;
}
nav img {
  margin-top:10px;
  width: 80px;
  height: 80px;
}
.logo {
  height: 20rem;
  width: 20rem;
}

.side {
  background-color: hsl(211,40%,36%);
  height: 85vh;
}
.ello {
  margin: auto;
  text-align: center;
  width: 100%;
}
.glyphicon {
  font-size: 5rem;
}
.category {
  text-align: center;
  color: rgb(223, 69, 28);
  font-size: 8rem;
}
.picture {
  margin-top: -5rem;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  padding: 1rem;
}
.voteTag {
  margin-top: -.3rem;
  color: rgb(223, 69, 28);
}
.cardScroll {
  overflow: scroll;
  height: 70vh;

}
